* {
  font-family: 'Gayathri', sans-serif;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(248, 217, 236),
    white,
    rgb(170, 194, 128)
  );
}

button {
  background-color: white;
  background-image: none;
}

nav a {
  padding: 0.5em;
  background-color: white;
  background-image: none;
  border: solid black 0.09em;
  border-radius: 1em;
  color: black;
  text-decoration: none;
  margin-right: 2.4em;
  margin-left: 2.4em;
}

#nav-bar {
  display: flex;
  height: 3.2em;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid black 0.09em;
}
#welcome-nav {
  font-size: larger;
  background-image: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#logo {
  background-image: none;
  width: 30em;
  position: absolute;
  margin-left: 33%;
}

#home-main {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  background-image: none;
  align-items: center;
}

#home-image {
  /* margin-left: 25%; */
  margin-top: 9em;
  width: 33em;
}

#home-desc {
  width: 10em;
  background-image: none;
  color: white;
  font-size: 3em;
  background: none;
  position: absolute;
  left: 51%;
  top: 53%;
  transform: translate(-50%, -50%);
}

#home-main a {
  background-image: none;
  text-decoration: none;
  background-color: 170, 194, 128;
  border: solid green 1px;
  padding: 0.5em;
  color: white;
  background: none;
  position: absolute;
  left: 37.8%;
  top: 71%;
  transform: translate(-50%, -50%);
}

#about-store p {
  background-image: none;
  width: 30em;
  font-size: 1.9em;
  font-weight: 100;
  margin-left: 18%;
  margin-top: 5em;
  margin-bottom: 3em;
}

#product-highlight {
  display: flex;
  align-items: center;
}

#product-home {
  width: 30em;
  margin-left: 10em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#product-highlight-desc {
  background-image: none;
  margin-left: 2em;
  font-size: 1.5em;
}

#product-highlight-text {
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-highlight-text a {
  background-image: none;
  color: black;
  text-decoration: none;
  border: solid green 1px;
  border-radius: 6%;
  /* background-color: rgb(101, 181, 101); */
  padding: 0.5em;
}

footer {
  margin-top: 5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}
footer span {
  background-image: none;
}

#footer-contact {
  background-image: none;
  text-decoration: none;
  color: black;
}

#cart {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background: none;
  align-items: center;
}

#cart h2 {
  font-size: 2.5rem;
  margin-left: 3rem;
}

#cart h3 {
  font-size: 2rem;
}

#cart h4 {
  font-size: 1.5rem;
}

#cart-container {
  background-color: white;
  border: solid black 0.09em;
  border-radius: 25px;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#has-items {
  width: 90vw;
}

#item-list {
  background-color: rgba(0, 0, 0, 0);
}

#item-list div {
  background-color: rgba(0, 0, 0, 0);
}

#item-list img {
  margin-left: 2rem;
}
#cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

#cart-item-left {
  display: flex;
  flex-direction: row;
}

#item-list button {
  padding-top: 5px;
  margin-top: 1rem;
}
#removeBtn {
  /* margin-left: 10rem; */
  align-self: flex-end;
}

#item-list form {
  float: right;
  padding-right: 3rem;
}

#item-list form > button {
  border: solid black 0.09em;
  border-radius: 1em;
  font-size: 1.25rem;
  margin-top: 0.5em;
  align-self: flex-end;
}
#item-list form > button:hover {
  background-color: rgb(248, 217, 236);
}

#cart-item-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 3rem;
  justify-content: flex-end;
}

#cart-header {
  display: inline-block;
  width: 100%;
}

#header-right {
  float: right;
}

#qty {
  margin-right: 2rem;
}
#price {
  margin-right: 5rem;
}

#item-price {
  float: right;
}

#item-price h4 {
  margin: 0px;
}

#cart-item-desc {
  margin-left: 5rem;
  font-size: 1rem;
}

#cart-submit {
  display: flex;
  flex-direction: column;
  float: right;
}

#summary {
  float: right;
  margin-right: 5rem;
}

#order-history {
  border: solid black 0.09em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

#order-total,
#order-qty {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 3rem;
  justify-content: flex-end;
}

#update-user-form input {
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid rgb(23, 93, 42);
  background: transparent;
}
#log-in-form-div {
  padding: 5em 5em;
}

#log-in-sign-up-form {
  padding: 10em 10em;
  margin: auto;
  text-align: center;
}

#log-in-sign-up-form input {
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid rgb(23, 93, 42);
  background: transparent;
}

form label {
  font-weight: bold;
}
