* {
  font-family: 'Gayathri', sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(248, 217, 236),
    white,
    rgb(170, 194, 128)
  );
}

button {
  background-color: white;
  background-image: none;
}

a {
  background-color: white;
  background-image: none;
  border: solid black 0.09em;
  width: 3em;
  border-radius: 1em;
  color: black;
  text-decoration: none;
  margin-right: 1em;
  margin-left: 1em;
}

#nav-bar {
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid black 0.09em;
}
