* {
  font-family: 'Gayathri', sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(248, 217, 236),
    white,
    rgb(170, 194, 128)
  );
}

button {
  background-color: white;
  background-image: none;
}

#nav-bar {
  display: flex; /* overflow-wrap: break-word; */

  height: 3.2em;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid black 0.09em;
}

nav a {
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  background-image: none;
  border: solid black 0.055em;
  border-radius: 1em;
  color: black;
  text-decoration: none;
  /* overflow-wrap: break-word; */
}

@media (max-width: 500px) {
  nav a {
    font-size: 0.6em;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  nav a {
    font-size: 0.8em;
  }
}

#welcome-nav {
  font-size: 1.5em;
  background-image: none;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 500px) {
  #welcome-nav {
    font-size: 0.6em;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  #welcome-nav {
    font-size: 0.8em;
  }
}

#logo {
  background-image: none;
  position: relative;
  width: 30em;
  margin-left: 33%;
  margin-top: 10%;
}

@media (max-width: 500px) {
  #logo {
    width: 12em;
    margin-left: 25%;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  #logo {
    width: 25em;
    margin-left: 26%;
  }
}

#home-main {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: none;
  justify-items: center;
  align-items: center;
}

#home-image {
  width: 33em;
  align-items: center;
}

@media (max-width: 500px) {
  #home-image {
    width: 16em;
  }
}

#home-desc {
  width: 10em;
  background-image: none;
  color: white;
  font-size: 3em;
  background: none;
  position: absolute;
  left: 51%;
  top: 20%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  #home-desc {
    font-size: 1em;
    left: 41%;
  }
}

#home-main a {
  background-image: none;
  text-decoration: none;
  background-color: 170, 194, 128;
  border: solid green 1px;
  padding: 0.5em;
  color: white;
  background: none;
  position: absolute;
  left: 37.8%;
  top: 39%;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  #home-main a {
    font-size: 0.5em;
    top: 35%;
    left: 26%;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  #home-main a {
    font-size: 0.5em;
    top: 35%;
    left: 27.5%;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  #home-main a {
    font-size: 0.8em;
    top: 37%;
    left: 26%;
  }
}

#about-store p {
  background-image: none;
  width: 30em;
  font-size: 1.9em;
  font-weight: 100;
  margin-left: 18%;
  margin-top: 5em;
  margin-bottom: 3em;
}

#product-highlight {
  display: flex;
  align-items: center;
}

#product-home {
  width: 30em;
  margin-left: 10em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#product-highlight-desc {
  background-image: none;
  margin-left: 2em;
  font-size: 1.5em;
}

#product-highlight-text {
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-highlight-text a {
  background-image: none;
  color: black;
  text-decoration: none;
  border: solid green 1px;
  border-radius: 6%;
  padding: 0.5em;
}

footer {
  margin-top: 5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}
footer span {
  background-image: none;
}

#footer-contact {
  background-image: none;
  text-decoration: none;
  color: black;
}

#cart {
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding-top: 4rem; */
  background: none;
  align-items: center;
}

#cart h2 {
  font-size: 2.5rem;
  margin-left: 3rem;
}

#cart h3 {
  font-size: 2rem;
}

#cart h4 {
  font-size: 1.5rem;
}

#cart-container {
  background-color: white;
  border: solid black 0.09em;
  border-radius: 25px;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#has-items {
  width: 90vw;
}

#item-list {
  background-color: rgba(0, 0, 0, 0);
}

#item-list div {
  background-color: rgba(0, 0, 0, 0);
}

#item-list img {
  margin-left: 2rem;
}
#cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

#cart-item-left {
  display: flex;
  flex-direction: row;
}

#item-list button {
  padding-top: 5px;
  margin-top: 1rem;
}
#removeBtn {
  /* margin-left: 10rem; */
  align-self: flex-end;
}

#item-list form {
  float: right;
  padding-right: 3rem;
}

#item-list form > button {
  border: solid black 0.09em;
  border-radius: 1em;
  font-size: 1.25rem;
  margin-top: 0.5em;
  align-self: flex-end;
}
#item-list form > button:hover {
  background-color: rgb(248, 217, 236);
}

#cart-item-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 3rem;
  justify-content: flex-end;
}

#cart-header {
  display: inline-block;
  width: 100%;
}

#header-right {
  float: right;
}

#qty {
  margin-right: 2rem;
}
#price {
  margin-right: 5rem;
}

#item-price {
  float: right;
}

#item-price h4 {
  margin: 0px;
}

#cart-item-desc {
  margin-left: 5rem;
  font-size: 1rem;
}

#cart-submit {
  display: flex;
  flex-direction: column;
  float: right;
}

#summary {
  float: right;
  margin-right: 5rem;
}

#order-history {
  border: solid black 0.09em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1em;
  margin: 1em;
}

#order-total,
#order-qty {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 3rem;
  justify-content: flex-end;
}

#update-user-form input {
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid rgb(23, 93, 42);
  background: transparent;
}
#log-in-form-div {
  /* padding: 5em 5em; */
  padding-bottom: 13em;
}

#log-in-sign-up-form {
  /* padding: 10em 10em; */
  /* padding-bottom: 1em; */
  margin: auto;
  text-align: center;
}

#log-in-sign-up-form input {
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid rgb(23, 93, 42);
  background: transparent;
}

form label {
  font-weight: bold;
}

#products-container {
  /* margin-top: 2em; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product {
  /* margin-top: 8em; */
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 8em;
}

#product-image {
  width: 14em;
  height: 14em;
  border: none;
  border-radius: 50%;
}

#product a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}

#product-price {
  margin-top: 0.2em;
  text-align: center;
  font-size: 0.9em;
}
#add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
#button-products {
  border: solid black 1px;
  border-radius: 1em;
  padding: 0.5em;
}

#product-info {
  display: flex;
}

.quantity-selector {
  background-color: white;
  margin-right: 0.8em;
  margin-left: 2em;
  border-radius: 0.3em;
}

#inner-product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#add-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5em;
}
#add-product-form input {
  width: 10em;
}

#product-name-admin {
  font-size: 1.5em;
}

#products-container-admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 2em; */
}

#product-description-admin {
  width: 12em;
}

.user-list-container {
  border: solid black 0.09em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1em;
  margin: 1em;
}

#user-list-button {
  padding-top: 5px;
  margin-top: 1rem;
}
#single-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#single-product-container img {
  width: 40em;
  /* margin-left: 15%; */
  margin-bottom: 2em;
}

#product-image-single {
  width: 5em;
  border-radius: 20%;
}

#inner-single-product {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inner-single-product h2 {
  font-size: 2.6em;
}

#product-desc {
  font-size: 1.8em;
}

#product-single-price {
  font-size: 1.5em;
}

#button-and-form {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.quantity-selector-single {
  font-size: 1.4em;
  background-color: white;
  margin-right: 0.8em;
  margin-left: 2em;
  border-radius: 0.3em;
}

#button-products-single {
  border: solid black 1px;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.2em;
}

#update-product-form {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#update-product-form input {
  width: 10em;
}
